*{
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    color:#659B68;
}
body{
    background-image:url('trees.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.mainContent{
    background-color: rgba(255,255,255,0.75);
    width:75%;
    margin: 8% auto 1% auto;
    padding:1%;
}
nav a{
    font-size:large;
    padding:1em;
    border:2px solid black;
    text-align:center;
    background-color: rgba(255,255,255,0.75);
    transition: border-radius 0.5s ease;
    min-width: 18%;
}
nav a:hover ul.dropdown{border:inherit;}
nav a:hover{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height:5em !important;
}
nav a:active{
    border:2px solid #659B68;
}
.currentPage{
    border:2px solid #659B68;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.mainNav nav a{
    display:block;
}
.mainNav{
    width:100%;
    margin-bottom:-2em;
}
.mainNav ul{
    display:block;
    width: 18%;
    margin:auto;
    padding:0;
}
nav ul li{
    list-style: none;
    margin-bottom:2em;
}
.mainNav > nav > ul > li:nth-child(4){
    margin-bottom: 0em;
}
header{
    text-align:center;
    margin:auto;
    background-color: rgba(255,255,255,0.75);
    width:46%;
    margin-bottom:2%;
    box-shadow:  0px 0px 20px 7px rgba(255,255,255,0.9);
}
header h2{padding-bottom:1%;}
footer ul li{
    display:inline;
}
footer ul{
    background-color: rgba(255,255,255,0.75);
    padding:.45em;
    box-shadow:  0px 0px 20px 7px rgba(255,255,255,0.9);

    
}
footer  {
  position: relative;
  height: 14px;
  clear:both;
  padding-top:20px;
  text-align:center;
  width:96%;
  left:2%;
  margin-top:-2%;
  line-height:1px;
}  
.generalNav{
    text-align:center;
    margin-bottom:6%;
    position:absolute;
    left:27%;
}
h3{
    text-align:center;
}
h1{
    margin:12% auto 4% auto;
    box-shadow:  0px 0px 20px 7px rgba(255,255,255,0.9);
    background-color: rgba(255,255,255,0.75);
    width:25%;
    text-align:center;
    font-size:xx-large;
}
.generalNav + h1{
    margin-bottom:-9%;
    margin-top:13%;
}
.generalNav + section.mainContent{
    margin-top:11em;
    margin-bottom:18em;
}
.subNav + section.mainContent{
    margin-top:30em;
}
header h1{
    margin-top:0%;
    width:auto;
}
a.mainContent{
    margin:2em;
    border:2px solid transparent;
    transition: box-shadow .5s ease;
    padding:.8em;
    background-size: 10em 10em;
    background-repeat:no-repeat;
    background-position:bottom;
    height:10em;
    width:10em;
}
    .mountPhilo{
        background-image: url('mountphilo.jpg');
        display:inline-block;
    }
    .mountMansfield{
        background-image: url('mountmansfield.jpg');
        display: inline-block;
    }
    .haystackMountain{
        background-image: url('haystackmountain.jpg');
        display:inline-block;
    }
    .snakeMountain{
        background-image: url('snakemountain.jpg');
        display:inline-block;
    }
    .mountAbraham{
        background-image: url('mountabraham.jpg');
        display:inline-block;
    }
    .mountEllen{
        background-image: url('mountellen.jpg');
        display:inline-block;
    }
    .camelsHump{
        background-image: url('camelshump.jpg');
        display:inline-block;
    }
    .hungerMountain{
        background-image: url('hungermountain.jpg');
        display:inline-block;
    }
    .mountKillington{
        background-image: url('killingtonmountain.jpg');
        display:inline-block;
    }
ul.subNav{
    margin-left:24%;
    margin-right:35%;
    margin-top:11%;
    margin-bottom: 19%;
    width:95%;
}
ul.subNav li{
    list-style-type:none;
    display:inline;
}
ul.subNav li a{
    background-color:rgba(255,255,255,.75);
    line-height:0%;
    text-align:center;
}
ul.subnav + section.mainContent{
    margin-top:30em;
    text-align:center;
}
ul.subNav + h1 {
    margin-top:33%;
}
ul.dropdown{
    margin:2.5em auto;
    visibility:hidden;
    display:none;
    position:absolute;
    top:.25em;
    left: -5%;
    width:12em;
}
ul.dropdown li a.mainContent{
    padding:1%;
    margin-left: 0em;
    margin-right:0em;
    background-color:rgba(255,255,255,.5);
}
ul.dropdown li{
    display:inline;
    float:left;
    width:11em;
    margin-bottom:.5em;
    margin-left:-2em;
    text-align:left;
}
ul > li {display: block; float: left; margin-right: 10px; position: relative;}
ul ul {display: none; width: 150px; position:absolute; top: 2em; left: 0}
ul ul > li {float: none;}
ul > li:hover > ul,
ul > a:hover + ul {display: block}
ul.dropdown > li > ul > li a:hover{
    box-shadow:none;
    border-radius:1%;
}
nav.generalNav li:hover > ul.dropdown{
    display:inline;
    visibility:visible;
}
a.mainContent:hover{
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
}
.current{ 
    box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.75);
}
.wrapper{
    min-height:100%;
}
.wrapper1{
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom:8%;

}
.description{
    margin-bottom:10%;
    background-color: rgba(255,255,255,0.75);
    width:75%;
    margin: 4% auto 0% auto;
    padding:1%;
}
section.mainContent{
    box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.75);
}
section.mainContent p{
    text-indent:5em;
}
section.mainContent > h1{
    margin-top:0em;
}
.sitemap,.sitemap1{
    margin-bottom:.5em;
    padding:0em;
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
}
.sitemap{font-weight: bold;}
.sitemap1{text-indent:5em;}
.sitemap a, .sitemap1 a{
    border:none;
}
img{
    position:relative;
    left:22em;
    bottom:8.5em;
    width:33%;
    height:33%;
    display:inline;
}
.dropdown .mainContent{
    transition:background-color .5s ease;
}
.dropdown .mainContent:hover{
    border-radius:0em;
    box-shadow: none;
    background-color: white;
}
.mainContent a{
    display:block;
    margin-bottom:1em;
}
.resources{
    display:inline !important;
}
@media screen and (max-width: 1100px) {
    .generalNav{left:19%;}
    .mainNav nav ul{
        margin:auto;
    }
    .mainNav nav ul li{
        margin-bottom:0;
    }
    
    body{
        background-attachment: scroll;
        background-size: initial;
    }
    ul.subNav{
        margin-left:29%;
    }
}
@media screen and (max-width: 850px) {
    .generalNav{left: 9%}
}
@media screen and (max-width: 750px) {
    .generalNav{left: 5%}
}
@media screen and (max-width: 700px) {
    .generalNav a{
        width:30%;
        margin:auto;
        padding:.5em;
    }
    .generalNav a:nth-child(1),.generalNav a:nth-child(2){
        margin-right: auto;
    }
    .generalNav a:nth-child(3),.generalNav a:nth-child(4){
    }    
    .currentPage{
        border-width: 3px;
        padding:1em 1em;
    }
    a.mainContent{
        position:relative;
        left:34.1%;
        margin-right:0em;
        border:0px solid transparent;
        transition: box-shadow .5s ease;
    }
    a.mainContent:hover{
        box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    }
    .current{ 
        box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.75);
    }
    ul.subNav{
        margin-left:-18%;
    }
    
}